In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [26]:
df = pd.read_csv('C:/Users/Abdelrahman/Documents/Machine Learning/linear regression/08-Linear-Regression-Models/Advertising.csv')

In [27]:
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [28]:
## CREATE X and y
x = df.drop('sales',axis=1)
y = df['sales']

# TRAIN TEST SPLIT
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=101)

# SCALE DATA
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(x_train)
x_train = scaler.transform(x_train)
x_test = scaler.transform(x_test)

In [29]:
from sklearn.linear_model import Ridge

In [30]:
model = Ridge(alpha=100)

In [31]:
from sklearn.model_selection import cross_val_score

In [32]:
scores = cross_val_score(model,x_train,y_train, cv=5 , scoring = 'neg_mean_squared_error')

In [33]:
scores

array([ -9.32552967,  -4.9449624 , -11.39665242,  -7.0242106 ,
        -8.38562723])

In [34]:
abs(scores.mean())

8.215396464543607

In [35]:
sec_model = Ridge(alpha=1)

In [39]:
scores_sec = cross_val_score(sec_model , x_train , y_train ,cv=5 , scoring='neg_mean_squared_error')

In [40]:
scores_sec

array([-3.15513238, -1.58086982, -5.40455562, -2.21654481, -4.36709384])

In [41]:
abs(scores_sec.mean())

3.344839296530695

In [43]:
sec_model.fit(x_train,y_train)

Ridge(alpha=1)

In [44]:
y_pred = sec_model.predict(x_test)

In [45]:
from sklearn.metrics import mean_squared_error

In [46]:
rmse = np.sqrt(mean_squared_error(y_test , y_pred))

In [47]:
rmse

1.5228334050147283

In [48]:
from sklearn.model_selection import cross_validate

In [49]:
scores_one = cross_validate(model , x_train , y_train , cv=5 , scoring = ['neg_mean_absolute_error','neg_mean_squared_error','max_error'])

In [50]:
scores_one

{'fit_time': array([0.39339995, 0.0009954 , 0.0009973 , 0.00099611, 0.        ]),
 'score_time': array([0.00126934, 0.0009973 , 0.0009973 , 0.00099969, 0.00099564]),
 'test_neg_mean_absolute_error': array([-2.31243044, -1.74653361, -2.56211701, -2.01873159, -2.27951906]),
 'test_neg_mean_squared_error': array([ -9.32552967,  -4.9449624 , -11.39665242,  -7.0242106 ,
         -8.38562723]),
 'test_max_error': array([ -6.44988486,  -5.58926073, -10.33914027,  -6.61950405,
         -7.75578515])}

In [51]:
pd.DataFrame(scores_one)

,fit_time,score_time,test_neg_mean_absolute_error,test_neg_mean_squared_error,test_max_error
0,0.393400,0.001269,-2.312430,-9.325530,-6.449885
1,0.000995,0.000997,-1.746534,-4.944962,-5.589261
2,0.000997,0.000997,-2.562117,-11.396652,-10.339140
3,0.000996,0.001000,-2.018732,-7.024211,-6.619504
4,0.000000,0.000996,-2.279519,-8.385627,-7.755785

In [52]:
pd.DataFrame(scores_one).mean()

fit_time                        0.079278
score_time                      0.001052
test_neg_mean_absolute_error   -2.183866
test_neg_mean_squared_error    -8.215396
test_max_error                 -7.350715
dtype: float64

In [53]:
scores_two = cross_validate(sec_model , x_train , y_train , cv=5 , scoring = ['neg_mean_absolute_error','neg_mean_squared_error','max_error'])

In [54]:
scores_two

{'fit_time': array([0.00197625, 0.0019958 , 0.00099707, 0.0009973 , 0.00099707]),
 'score_time': array([0.        , 0.00099802, 0.00099659, 0.00099778, 0.0009973 ]),
 'test_neg_mean_absolute_error': array([-1.54711694, -1.02604449, -1.40079299, -1.15425141, -1.47022164]),
 'test_neg_mean_squared_error': array([-3.15513238, -1.58086982, -5.40455562, -2.21654481, -4.36709384]),
 'test_max_error': array([-3.08829958, -2.81744088, -9.35320917, -4.05585583, -6.49092188])}

In [55]:
pd.DataFrame(scores_two)

,fit_time,score_time,test_neg_mean_absolute_error,test_neg_mean_squared_error,test_max_error
0,0.001976,0.000000,-1.547117,-3.155132,-3.088300
1,0.001996,0.000998,-1.026044,-1.580870,-2.817441
2,0.000997,0.000997,-1.400793,-5.404556,-9.353209
3,0.000997,0.000998,-1.154251,-2.216545,-4.055856
4,0.000997,0.000997,-1.470222,-4.367094,-6.490922

In [56]:
pd.DataFrame(scores_two).mean()

fit_time                        0.001393
score_time                      0.000798
test_neg_mean_absolute_error   -1.319685
test_neg_mean_squared_error    -3.344839
test_max_error                 -5.161145
dtype: float64

In [57]:
sec_model.fit(x_train , y_train)

Ridge(alpha=1)

In [58]:
final_pred = sec_model.predict(x_test)

In [59]:
final_pred

array([15.73544249, 19.56177685, 11.47282584, 16.99614361,  9.19583919,
        7.06034338, 20.24078477, 17.27047482,  9.7997058 , 19.18969381,
       12.40827613, 13.88321006, 13.72330625, 21.24960621, 18.41451801,
       10.00739858, 15.54023734,  7.72694272,  7.59886443, 20.3595504 ,
        7.831815  , 18.21607253, 24.61611392, 22.77116018,  8.0117733 ,
       12.667102  , 21.40567156,  8.10250725, 12.43158049, 12.53481984,
       10.81678067, 19.21537816, 10.09192883,  6.76998079, 17.29636618,
        7.81497124,  9.28808588,  8.31202002, 10.6122371 , 10.6533735 ,
       13.05491413,  9.80364168, 10.24764859,  8.09836046, 11.58209801,
       10.10783927,  9.025001  , 16.24936342, 13.26025422, 20.77690029,
       12.51477346, 13.96784546, 17.53696507, 11.15686875, 12.57233878,
        5.56009018, 23.21824128, 12.62301353, 18.72931877, 15.18197827])

In [62]:
rmse = np.sqrt(mean_squared_error(y_test , final_pred))

In [63]:
rmse

1.5228334050147283